<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Assignment 5</title>
  
  <!-- Mobile Specific Metas–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS–––––––––––––––––––––––––––––––––––––––––––––––––– -->
 
  <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
 
</head>

<style>A {text-decoration: none;} </style>
<body >

  <header  class="main_nav purple">
    <div class="container">
        <div class="one column">
        <a class="toptextwhite"  href="{{ url_for('index') }}">Home</a>
        </div>  
  </header>

<div>
  
  
  <div class="row container ">

    <h5> Fill out the form to add a new copy </h5><br>

    <!-- Form to collect the needed information to add a new copy to the database–––– -->
    <form method="post">
            <input type="text" placeholder="Book Code. Ex 4532" name="bookCode" required/><br>
            <input type="text" placeholder="Branch No. (1-4)" name="branchNum" required/><br>
            <input type="text" placeholder="Copy No. Ex 2" name="copyNum" required/><br>
            <input type="text" placeholder="Quality Ex. Good" name="quality" required/><br>
            <input type="text" placeholder="Price Ex. 5.99" name="price" required/><br><br>
            <input class="button-primary" type="submit" value="Add Copy">
    </form>

  </div>
   Once you fill out the needed information and click "Add Copy" you will be redirected to the list of all the copies available. 
   If you would like to check the list of copies or branches before adding a new copy click here: 
   <a href="{{ url_for('copy') }}"><b>Copies</b></a> <br>
   <a href="{{ url_for('branch') }}"><b>Branch</b></a>
</div>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>